*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: system-ui;
  
}
html,
body{
    height: 100%;
    width: 100%;
}
body{ 
    background-color: rgb(235, 236, 232);
  
}
.parent{
 padding: 30px;
 display: flex;
 gap: 20px;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 270px;
    background-color: white ;
    color: black;
    padding: 20px;
    border-radius: 30px;
      display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{
    display :flex;
   align-items: flex-start;
  justify-content: space-between;
}
.top img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.top button{
    display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}
.center{

}

.tag1{
    display: flex;
  margin-top: 10px;
  gap: 5px;
}
.tag1 p{
   font-size:10px;
   color:rgb(146, 146, 134);
   margin-top: 7px;
}
.tag2{
    display : flex;
    gap:10px;
    margin-top: 10px;

}
.tag2 h5{
    background-color: rgb(234, 235, 230);
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 3px;
}




.bottom{
    display: flex;
  align-items: center;
  justify-content: space-between; 
     border-top: 1px solid rgb(58, 58, 51);
     margin-top :20px;
}
.bottom h3{
 font-size: 17px;
  margin-bottom: 4px;
}
.bottom p{
    font-size: 10px;
  color: #8b8b8b;
}
.bottom button{
    background-color: rgb(16, 16, 15);
    color: white;
    border: none;
   border-radius: 5px;
    padding: 7px 16px;
   font-size: 12px;
   

}
